p{
  margin: 0;
}
.install{
  width:300px;
  height:100px ;
  background-color: black;
  padding-left: 15px;
  padding-top:10px ;
  display: inline-block;

}
.music-youtube{
  font-size: 18px;
  font-weight: bold;
  color:white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.easy-music{
  font-size: 12px;
  color: gray;
  
}