

    .customer-service{
      border: 2px solid gray;
      width: 280px;
      height: 80px;
      padding-left: 10px ;
    }
    .satisfy-customer{
      font-size: 16px;
      color: black;
      margin-bottom: 0;
      margin-bottom:10px ;
    }
    .button-yes,
    .button-no{
      border: 1px solid gray;
      color: black;
    }
  