




.flex-12a{
  height: 50px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border:1px solid gray;
}
.div1{
  
  background-color:pink;
  color: black; 
}
.div2{
  
  background-color:pink;
  color: black;
   
}


