
      .button-agree{
        background-color: blue;
        border-radius: 12px;
        height: 35px;
        border:none;
        color:white;
        width: 250px;
        vertical-align: middle;
      }
      .agree{
        color:gray;
        font-size: 10px;
        width:250px;
        text-align: center;
      }
      .input-agree{
        border: solid 1px gray;
        width: 250px;
        vertical-align: middle;
        height: 25px;
      }
      .email{
        color:gray;
        font-size: 10px;
        margin-bottom: 0;
        margin-bottom: 2px;
      }

    
   